body {
    height: 100%;
    width: 100%;
    background-color: #003459;
}

#upgrade-box {
    background-color: #FCA311;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#inner-upgrade-box {
    background-color: #007EA7;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#content-upgrade-box {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#progress-box {
    background-color: #FCA311;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#inner-progress-box {
    background-color: #007EA7;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#content-progress-box {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#twitter-box {
    background-color: #FCA311;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#inner-twitter-box {
    background-color: #007EA7;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#content-twitter-box {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

#upgradeBtn {
    background-color: #007EA7;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}

.img {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(31, 31, 31, 0.842), 0 1px 2px 0 rgba(31, 31, 31, 0.842);
}