body {
    height: 100%;
    width: 100%;
    background-color: #003459;
}

.upgrade-box {
    background-color: #FCA311;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.inner-upgrade-box {
    background-color: #007EA7;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.content-upgrade-box {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.progress-box {
    background-color: #FCA311;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.inner-progress-box {
    background-color: #007EA7;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.content-progress-box {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.twitter-box {
    background-color: #FCA311;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.inner-twitter-box {
    background-color: #007EA7;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.content-twitter-box {
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.upgradeBtn {
    background-color: #007EA7;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}

.img {
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(76, 0, 255), 0 1px 2px 0 rgb(76, 0, 255);
}